<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
ErrorDocument 404 /404/404.html
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.GradeFX\.de/contact)(:80)? [NC]
RewriteRule ^(.*) http://GradeFX.de/contact/$1 [R=301,L]
DirectoryIndex contact.html       
order deny,allow
